In [ ]:
​#​ Caso não esteja com as lib atualizadas, excutar esse comando.
# !pip install pandas sqlalchemy psycopg2-binary

In [21]:
import pandas as pd # biblioteca para dados
from sqlalchemy import create_engine

In [22]:
# 1. Leitura do CSV (camada raw)
df_raw = pd.read_csv("db_marvel_dc.csv", encoding='latin1')

In [23]:
# 2. Tratamento simples
df = df_raw.copy()

In [24]:
# Olhando nossos dados
# Primeiras linhas (já está fazendo)
print(df_raw.head())

# Nome das colunas
print(df_raw.columns)

# Informações gerais: tipos, nulos, memória usada
print(df_raw.info())

# Estatísticas descritivas (apenas para colunas numéricas por padrão)
print(df_raw.describe())

# Verificar valores únicos por coluna
print(df_raw.nunique())

# Verificar valores nulos
print(df_raw.isnull().sum())

# Verificar número de linhas e colunas
print(f"Shape do dataframe: {df_raw.shape}")

# Verificar duplicatas
print(f"Total de linhas duplicadas: {df_raw.duplicated().sum()}")

# Verificar tipos únicos de dados em cada coluna
print(df_raw.dtypes.value_counts())

   Unnamed: 0                      Original Title Company  Rate  Metascore  \
0           1                            Iron Man  Marvel   7.9         79
1           2                 The Incredible Hulk  Marvel   6.7         61
2           3                          Iron Man 2  Marvel   7.0         57
3           4                                Thor  Marvel   7.0         57
4           5  Captain America: The First Avenger  Marvel   6.9         66

  Minutes  Release      Budget  Opening Weekend USA  Gross USA  \
0     126     2008   140000000             98618668  318604126
1    112      2008   150000000             55414050  134806913
2    124      2010   200000000            128122480  312433331
3     115     2011  150000000              65723338  181030624
4     124     2011   140000000             65058524  176654505

   Gross Worldwide
0        585366247
1        263427551
2        623933331
3        449326618
4        370569774
Index(['Unnamed: 0', 'Original Title', 'Company', 'Rate', 'Metascore',
       'Minutes', 'Release', 'Budget', 'Opening Weekend USA', 'Gross USA',
       'Gross Worldwide'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           39 non-null     int64
 1   Original Title       39 non-null     object
 2   Company              39 non-null     object
 3   Rate                 39 non-null     float64
 4   Metascore            39 non-null     int64
 5   Minutes              39 non-null     object
 6   Release              39 non-null     int64
 7   Budget               39 non-null     object
 8   Opening Weekend USA  39 non-null     int64
 9   Gross USA            39 non-null     int64
 10  Gross Worldwide      39 non-null     int64
dtypes: float64(1), int64(6), object(4)
memory usage: 3.5+ KB
None
       Unnamed: 0       Rate  Metascore      Release  Opening Weekend USA  \
count   39.000000  39.000000  39.000000    39.000000         3.900000e+01
mean    20.000000   7.202564  63.666667  2013.794872         1.151098e+08
std     11.401754   1.074706  13.860837     4.286942         6.866708e+07
min      1.000000   3.300000  27.000000  2004.000000         5.379365e+06
25%     10.500000   6.900000  56.500000  2011.000000         6.539093e+07
50%     20.000000   7.300000  67.000000  2015.000000         9.620234e+07
75%     29.500000   7.850000  72.500000  2017.000000         1.559225e+08
max     39.000000   9.000000  88.000000  2019.000000         3.571150e+08

          Gross USA  Gross Worldwide
count  3.900000e+01     3.900000e+01
mean   3.232659e+08     8.275727e+08
std    1.807086e+08     5.332318e+08
min    1.054712e+07     1.090331e+07
25%    2.032217e+08     4.843193e+08
50%    3.186041e+08     7.468469e+08
75%    4.085492e+08     1.104658e+09
max    8.583730e+08     2.797801e+09
Unnamed: 0             39
Original Title         39
Company                 2
Rate                   24
Metascore              29
Minutes                32
Release                15
Budget                 25
Opening Weekend USA    39
Gross USA              39
Gross Worldwide        39
dtype: int64
Unnamed: 0             0
Original Title         0
Company                0
Rate                   0
Metascore              0
Minutes                0
Release                0
Budget                 0
Opening Weekend USA    0
Gross USA              0
Gross Worldwide        0
dtype: int64
Shape do dataframe: (39, 11)
Total de linhas duplicadas: 0
int64      6
object     4
float64    1
Name: count, dtype: int64

In [25]:
# - Continuação das transformações
# - Remover colunas vazias
# - Remover duplicados
# - Preencher nulos com valores padrão
df.dropna(axis=1, how='all', inplace=True)
df.drop_duplicates(inplace=True)
df.fillna("desconhecido", inplace=True)

In [26]:
# 3. Salvar camada raw/tratada
df.to_csv("raw/db_marvel_dc_tratado.csv", index=False)

In [27]:
# 4. Conectar ao banco de dados (ex: PostgreSQL)
# Substitua com suas credenciais reais
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/dw_uniesp")

In [28]:
# 5. Inserir no banco (tabela: personagens_comics)
df.to_sql("filmes_dc_marvel", con=engine, index=False, if_exists="replace")

print("Processo finalizado com sucesso!")

Processo finalizado com sucesso!